body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
  .boxes-wrapper{
    animation: pop-in 1s;
  }
  .box {
    background-color: red;
    height: 30px;
    width: 30px;
    border: solid black 2px;
    transition: all 1s;
    color: white;
  }
  
  .main {
    background-color: black;
    height: 200px;
    width: 200px;
  }
  
  .main-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .boxes-wrapper .children-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .boxes-wrapper .parent-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  
  .new-main.little-Child.box{
    background-color: black;
    height: 200px;
    width: 200px;
    opacity: 1;
  }
  
  .new-main.parent.box{
    background-color: black;
    height: 200px;
    width: 200px;
    opacity: 1;
  }
  @keyframes slideUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-380px);
      opacity: 0;
      /* need to change line based on size of divs */
    }
  }
  @keyframes slideDown {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(380px);
      opacity: 0;
      /* need to change line based on size of divs */
    }
  }
  